name: Deploy Toolkit
on:
  push:
    branches:
      - main
    paths:
      - ice-cream-dataops/**  # Make sure this matches default_organization_dir in cdf.toml
  workflow_dispatch:
    inputs:
      environment:
        description: Pick one
        required: false
        type: choice
        options:
          - dev
          - test
          - prod

jobs:
  build-modules:
    name: Build & Deploy
    runs-on: ubuntu-latest
    container:
      image: cognite/toolkit:0.6.53  # Make sure the toolkit version matches the version in cdf.toml
    
    # Use input environment or default to 'test' for push events
    environment: ${{ github.event.inputs.environment || 'dev' }}
    env:
      # Cognite Toolkit environment variables
      ENV_NAME: ${{ github.event.inputs.environment || 'dev' }}
      CDF_PROJECT: siglekdogfood-${{ github.event.inputs.environment || 'dev' }} # change <n> to your project number!

      CDF_CLUSTER: bluefield
      IDP_TENANT_ID: c5215b59-ce64-44d9-af18-a77fa448e978
      IDP_TOKEN_URL: https://login.microsoftonline.com/c5215b59-ce64-44d9-af18-a77fa448e978/oauth2/v2.0/token
      LOGIN_FLOW: client_credentials

      IDP_CLIENT_ID: ${{ vars.IDP_CLIENT_ID }}
      IDP_CLIENT_SECRET: ${{ secrets.IDP_CLIENT_SECRET }}
      IDP_SCOPES: ${{ vars.IDP_SCOPES }}

      # This project's environment variables
      DATA_DEVELOPER_SOURCE_ID: ${{ vars.DATA_DEVELOPER_SOURCE_ID }}

      DATA_PIPELINE_OEE_CLIENT_ID: ${{ vars.DATA_PIPELINE_OEE_CLIENT_ID }}
      DATA_PIPELINE_OEE_CLIENT_SECRET: ${{ secrets.DATA_PIPELINE_OEE_CLIENT_SECRET }}
      DATA_PIPELINE_OEE_SOURCE_ID: ${{ vars.DATA_PIPELINE_OEE_SOURCE_ID }}

      ICAPI_EXTRACTORS_CLIENT_ID: ${{ vars.ICAPI_EXTRACTORS_CLIENT_ID }}
      ICAPI_EXTRACTORS_CLIENT_SECRET: ${{ secrets.ICAPI_EXTRACTORS_CLIENT_SECRET }}
      ICAPI_EXTRACTORS_SOURCE_ID: ${{ vars.ICAPI_EXTRACTORS_SOURCE_ID }}

    steps:
      - uses: actions/checkout@v4
      - name: Verify and Update Toolkit Authorization
        run: yes | cdf auth verify
      - name: Build Toolkit Configurations
        run: cdf build --env=${{ env.ENV_NAME }}
      - name: Deploy Toolkit Configurations
        run: cdf deploy --env=${{ env.ENV_NAME }}